*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black !important;
    color: white !important;
}

.visibility:hover{
    color: grey !important;
}

#pwdicon{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

